<div class="academy-landing">
	<h1 class="margin agency">We Know JavaScript.</h1>
	<a href="https://docs.google.com/forms/d/1u5f_efLMX9dFQSAMnNv1Wx54CDC7XbU9QMpfCRntFNw/viewform" class="margin" target="_newtab"><button class="button-three">WORK WITH US</button></a>
</div>
<div class="container">

	<div class="marketing-section">
		<div>
			<h1>Founders & Coders is home to over 30 freelancers. We specialise in building web and mobile applications in JavaScript and Node.js. Our developers have worked with startups, Government and FTSE 100 companies so chances are we can work with you.</h1>

		</div>
	</div>

	<div id="servicessection"></div>
	<div class="section-services">
		<ul class="container">

			<div class="grid-4">
				<a href="services/prototyping">
					<div class="services-icon-container">
						<div class="services-icon prototyping"></div>
						<div class="services-icon prototyping-alt"></div>
					</div>
					<p>Prototyping</p>
				</a>
			</div>

			<div class="grid-4">
				<a href="services/application-development">
					<div class="services-icon-container">
						<div class="services-icon web-application"></div>
						<div class="services-icon web-application-alt"></div>
					</div>
					<p>Application Development</p>
				</a>
			</div>

			<div class="grid-4">
				<a href="/training">
					<div class="services-icon-container">
						<div class="services-icon training"></div>
						<div class="services-icon training-alt"></div>
					</div>
					<p>Training</p>
				</a>
			</div>

		</ul>
	</div>

	<div id="portfolio"></div>
	<div class="section-portfolio">
		<div class="images-container">
			<%- partial("../_partials/portfolio", { "link": "portfolio/africabriefcase", "name": "Africa Briefcase", "company": "Africa Media Lab", "imageStyle": "image-one", "display": "" }) %>
			<%- partial("../_partials/portfolio", { "link": "portfolio/camdenmaps", "name": "Camden Maps", "company": "Camden Council", "imageStyle": "image-three", "display": "" }) %>
			<%- partial("../_partials/portfolio", { "link": "portfolio/chichester-harbour", "name": "Membership Management", "company": "Chichester Harbour", "imageStyle": "image-four", "display": "" }) %>
			<%- partial("../_partials/portfolio", { "link": "portfolio/coot-freight", "name": "Freight Management", "company": "Coot Freight", "imageStyle": "image-seven", "display": "" }) %>
			<%- partial("../_partials/portfolio", { "link": "portfolio/streetflower", "name": "Street Flower", "company": "", "imageStyle": "image-six", "display": "" }) %>
			<%- partial("../_partials/portfolio", { "link": "portfolio/stockport", "name": "Suicide Prevention", "company": "Stockport Council", "imageStyle": "image-five", "display": "" }) %>
		</div>
	</div>
</div>
