<div class="section-copy">
	<div class="section-portfolio no-padding`">
		<h1>Portfolio</h1>
		<div class="images-container">
			<%- partial("../_partials/portfolio", { "link": "p/africabriefcase", "name": "Africa Briefcase", "company": "Africa Media Lab", "imageStyle": "image-one", "display": "" }) %>
			<%- partial("../_partials/portfolio", { "link": "p/camdenmaps", "name": "Camden Maps", "company": "Camden Council", "imageStyle": "image-three", "display": "" }) %>
			<%- partial("../_partials/portfolio", { "link": "p/chichester-harbour", "name": "Membership Management", "company": "Chichester Harbour", "imageStyle": "image-four", "display": "" }) %>
			<%- partial("../_partials/portfolio", { "link": "p/coot-freight", "name": "Freight Management", "company": "Coot Freight", "imageStyle": "image-seven", "display": "" }) %>
			<%- partial("../_partials/portfolio", { "link": "p/streetflower", "name": "Street Flower", "company": "", "imageStyle": "image-six", "display": "" }) %>
			<%- partial("../_partials/portfolio", { "link": "p/stockport", "name": "Suicide Prevention", "company": "Stockport Council", "imageStyle": "image-five", "display": "" }) %>
			<!-- <%- partial("../_partials/portfolio", { "link": "p/africaneye", "name": "Africaneye", "company": "Africa Media Lab", "imageStyle": "image-two", "display": "" }) %> -->
		</div>
	</div>
</div>