<div class="academy-landing">
	<h1><span class="display">Collaborative Environment +</span> Cutting-edge Curriculum.</h1>
	<p><span class="display">Our JavaScript-driven curriculum immerses you in the latest web technologies including Node.js, React and hapi.</span></p>
	<p>Applications are now open for our January course</p>
	<a onclick="fac.nav_scroll('/academy/', 'apply')" class="margin"><button class="button-three">APPLY</button></a>
</div>
<div class="section-copy">
	<div class="container">
		<%- partial("_about.md") %>
		<a href="/testimonials"><button class="button-one">Testimonials</button></a>
		<div id="apply"></div>
		<%- partial("_apply.md") %>
		<div id="prerequisites"></div>
		<%- partial("_prerequisites.md") %>
		<div id="faq"></div>
		<%- partial("_faq.md") %>
		<div id="why"></div>
		<%- partial("_why.md") %>
	</div>
</div>
