<div class="academy-landing">
	<div id="academy-bw-image"></div>
	<div id="academy-image"></div>
	<h1 class="agency">The Full Stack.</h1>
	<h1><span class="display">Collaborative Environment +</span> Cutting-edge Curriculum</h1>
	<a onclick="fac.nav_scroll('/academy/', 'apply')" class="margin"><button id="button" class="button-three">APPLY</button></a>
</div>

<div class="section-copy">
	<div class="container">
		<%- partial("_about.md") %>
		<div id="apply"></div>
		<%- partial("_apply.md") %>
		<div id="prerequisites"></div>
		<%- partial("_prerequisites.md") %>
		<div id="faq"></div>
		<%- partial("_faq.md") %>
		<div id="why"></div>
		<%- partial("_why.md") %>
		<a onclick="fac.nav_scroll('/academy/', 'apply')" class="margin" style="margin:auto;"><button class="button-three">APPLY</button></a>
	</div>
</div>
