<div class="grid-4 <%= display %>">
	<a href=<%= link %>>
		<div id="img" class="<%= imageStyle %> im">
			<div class="overlay">
				<h3><%= name %></h3>
				<h3><%= company %></h3>
			</div>
		</div>
	</a>
</div>
